body {
	font-family: Helvetica;
}

#sequencer {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#tempo {
	font-size: 1.6em;
}

#footer {
	text-align: center;
}

#listen_url {
	font-weight: bold;
}

.note {
	width: 71px;
	display: inline-block;
	height: 71px;
	background-color: #ccc;
	border: 1px solid black;
	margin: 1px;
}

.kick .note {
	background-color: #ff1493;
}
.kick .note.selected{
	background-color: #aa1493;
}

.snare .note {
	background-color: #ffcd20;
}
.snare .note.selected{
	background-color: #a78500;
}

.open_hat .note{
	/*background-color: #4c33ff;*/
	background-color: #735aff;
}
.open_hat .note.selected{
	background-color: #012ebb;
}

.closed_hat .note{
	background-color: #aeff14;
}
.closed_hat .note.selected{
	background-color: #0da600;
}