<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<title>Telematic Drum Machine</title>
<head>
	<link rel="stylesheet" href="/static/main.css" type="text/css" />
	<meta name="viewport" content="width=700">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript">

		var session_key = "{{session_key}}";
		var sequenceDom = [0,0,0,0];
		var tempo = {{tempo}};
		console.log(session_key);

		function sequenceDomToSequence(sdom){

			var sequence = [[],[],[],[]]
			$.each(sdom, function(i, channel){
				$.each(channel, function(j, noteDom){
					sequence[i][j] = ($(noteDom).hasClass("selected") ? 1 : 0);
				});
			});

			return sequence;
		}

		function sendSequenceData(){
			$.ajax({
				url: "/trigger/"+session_key,
				type: "POST",
				data: {sequence: sequenceDomToSequence(sequenceDom), tempo: tempo},
				dataType: "json",
				success: function (result) {
				    console.log(result["msg"]);
				},
				error: function (xhr, ajaxOptions, thrownError) {
				// alert(xhr.status);
				// alert(thrownError);
				}
		    });
		}

		$(document).ready(function(){

			var notes = $(".note");
			$.each([".kick", ".snare", ".closed_hat", ".open_hat"], function(i, channel){
				sequenceDom[i] = $(channel).children();
			});
			console.log(sequenceDomToSequence(sequenceDom));

			notes.mousedown(function(){
				if ($(this).hasClass("selected")){
					$(this).removeClass("selected");
				}
				else {
					$(this).addClass("selected");					
				}

				sendSequenceData();
			})

			$("#slower").click(function(){
				if (tempo >= 10){
					tempo -= 10;
				}
				$("#tempo").text(tempo);
				sendSequenceData();
			})
			$("#faster").click(function(){
				tempo += 10;
				$("#tempo").text(tempo);
				sendSequenceData();
			})
		})

	</script>
</head>
<body>

	<div id="sequencer">
		{% for channel in ["kick", "snare", "closed_hat", "open_hat"] %}
		<div class="{{channel}}">
			{% for note in sequence[loop.index0] %}<div class="note{% if note %} selected{% endif %}"></div>{% endfor %}
		</div>
		{% endfor %}
		<div id="footer">
			<p><input type="button" value="Slower" id="slower"/> <span id="tempo">{{tempo}}</span> <input type="button" value="Faster" id="faster"/></p>
		</div>
	</div>
</body>
</html> 