<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<title>My jQuery JSON Web Page</title>
<head>
	<link rel="stylesheet" href="/static/main.css" type="text/css" />
	<meta name="viewport" content="width=700">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript">

		var session_key = "{{session_key}}";
		console.log(session_key)

		JSONTest = function() {

		    var resultDiv = $("#resultDivContainer");

		    $.ajax({
		        url: "/trigger/"+session_key,
		        type: "POST",
		        data: {sequence: [
		        	[1,0,1,0,1,0,1,0],[0,0,1,0,0,0,1,0],[0,1,0,1,0,1,0,0,],[0,0,0,0,0,0,1,1,]
		        ]},
		        dataType: "json",
		        success: function (result) {
		            resultDiv.html(result["msg"]);
		        },
		        error: function (xhr, ajaxOptions, thrownError) {
		        // alert(xhr.status);
		        // alert(thrownError);
		        }
		    });
		};

	</script>
</head>
<body>

	<div id="sequencer">
		<div class="kick">{% for i in range(8) %}<div class="note"></div>{% endfor %}</div>
		<div class="snare">{% for i in range(8) %}<div class="note"></div>{% endfor %}</div>
		<div class="closed_hat">{% for i in range(8) %}<div class="note"></div>{% endfor %}</div>
		<div class="open_hat">{% for i in range(8) %}<div class="note"></div>{% endfor %}</div>
	</div>
	<div id="resultDivContainer"></div>

	<button type="button" onclick="JSONTest()">JSON</button>

</body>
</html> 